/*
MAIN COLORS:
    #BAC1B8 #58A4B0 #0C7C59 #2B303A #D64933

*/

:root {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

body {
    font-weight: 400;
    font-style: normal;
    background-color: #BAC1B8;
    margin: 0;
    padding: 0;
    color: #2B303A;
}

.main{
    margin-left: 5rem;
    padding: 1rem;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #539987;
}

body::-webkit-scrollbar-thumb{
    background: #52FFB8
}