
.backlog{
    display:flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}

.task-list{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    
    width: 25%;
}

.space{
    width: 20rem;
}

.task {
    border: 1px solid #50545d;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    background-color: #3d424b;
    padding: 1rem;
}
.task p{
    margin: 0;
}

.sprint-select {
    background-color: #58A4B0; 
    color: white; 
    padding: 10px 16px; 
    border: none; 
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    outline: none; 
    transition: background-color 0.3s ease-in-out;
    margin: 5px 0;
}

    .sprint-select:hover {
        background-color: #4b8e99; 
    }

    .sprint-select option {
        color: white;
    }

.task-type {
    color: #58A4B0;
}