.comment-bar {
    border: 1px solid #ccc;
    width: 40rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 0.5rem;
    background-color: #1B1B1E;
    color: white;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

    .comment-form label {
        font-weight: bold;
        color: white;
        margin-bottom: 0.5rem;
    }

.comment-input {
    width: 100%;
    min-height: 8rem;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid #444;
    background-color: #2A2A2E;
    color: white;
    resize: vertical;
    margin-bottom: 1rem;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

    .comment-input::placeholder {
        color: #888;
    }

.comment-submit {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    background-color: #0C7C59;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-end;
}

    .comment-submit:hover {
        background-color: #10a375;
    }

.comment-user{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: #a6a6a6;
}
.comment-user a{
    color: #58A4B0;
    font-weight: 700;
    text-decoration:none;
}