/* TaskTable.css */

.table-container {
    padding: 20px 0;
}

.task-table {
    border-collapse: collapse;
    color: white;
}

.task-table thead tr {
    
 }

.header-cell {
    padding: 0.8rem 1rem;
    text-align: left;
}

.task-cell {
    padding: 10px 15px; 
}

.highlight-row {
    background-color: #3f7982; /* Jasnoniebieskie t³o */
    transition: background-color 0.3s ease-in-out;
}

    .highlight-row:hover {
        background-color: #33646c; /* Podœwietlenie na hover */
    }

.row-link{
    color: white;
    text-decoration: none;
}

    .row-link:hover {
        color: #0C7C59;
    }

.checkbox-input{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.fade-out {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}
