.horizontal-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4rem;
    border-bottom: 3px solid #0C7C59;
}

.horizontal-navbar  a{
    text-decoration: none;
    color: white;
}