
.team-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trzy kolumny o jednakowej szerokoœci */
    gap: 20px; /* Odstêp miêdzy elementami */
    justify-content: center;
}

.few-teams {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Automatyczne dostosowanie kolumn w zale¿noœci od iloœci elementów */
}

.team-box {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.team-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color:black;
}
